<div class="destination-list">
    {% if destinations %}
        {% for destination in destinations %}
<div id="destination-{{ destination.destination_pk }}" class="listCard">
    <h3>{{ destination.destination_title }}</h3>
    <p><strong>Country:</strong> {{ destination.destination_country }}</p>
    <p><strong>Location:</strong> {{ destination.destination_location }}</p>
    <p><strong>Start:</strong> {{ destination.start_date }}</p>
    <p><strong>End:</strong> {{ destination.end_date }}</p>

    <div class="cardActions">
        <a href="/destinations/{{ destination.destination_pk }}">Edit</a>

        <button
            type="button"
            onclick="confirm_delete_destination('{{ destination.destination_pk }}')"
        >
            Delete
        </button>
    </div>
</div>
        {% endfor %}
    {% else %}
        <p>No destinations yet.</p>
    {% endif %}
</div>
