<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <script src="/static/app.js"></script>
    <script src="/static/mixhtml.js" defer></script>
    <title>Document</title>
</head>
<body>
    
<div id="tooltip"></div>
<nav>
    <a href="/">My destinations</a>
    <a href="/signup">signup</a>
    <a href="/login">login</a>
   
    {% if not user %}
      <a href="/login">Login</a>
    {% else %}
    <a href="/logout">Logout</a>
    {% endif %}
</nav>
